body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    background-color: #ffa601;
    border: none;
    border-radius: 5px;
    color: #282c34;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    text-transform: uppercase;
}

// button {
//     background-color: #ffa601;
//     border: none;
//     border-radius: 5px;
//     color: #282c34;
//     cursor: pointer;
//     font-size: 1.5rem;
//     font-weight: bold;
//     margin: 10px;
//     padding: 10px;
//     text-transform: uppercase;
// }

.border {
    border: 3px;
    border-style: dashed;
}

.padding {
    padding: 10px;
}
